@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .timeline-img {
    @apply w-20 h-20 lg:w-24 lg:h-24 object-cover rounded-full
  }

  .checkpoint{
    @apply relative z-10 flex flex-col items-center md:flex-row gap-6 lg:w-[65%]
  }

  .timeline-container{
    @apply text-white shadow-md  w-full border-[#888] p-4 rounded
  }

  .left {
    @apply md:flex-row-reverse md:items-center bg-teal-700
  }

  .right {
    @apply md:items-center bg-yellow-700
  }

  .odd {
    @apply bg-[#8B4121]
  }

  .even {
    @apply bg-[#E8894B]
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
