@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .timeline-img {
    @apply w-20 h-20 lg:w-24 lg:h-24 object-cover rounded-full
  }

  .checkpoint{
    @apply relative z-10 flex flex-col md:flex-row gap-6 lg:w-[65%]
  }

  .timeline-container{
    @apply text-white shadow-md  w-full border-[#888] p-4 rounded
  }

  .left {
    @apply md:flex-row-reverse bg-teal-700 rounded-md md:items-center p-4 shadow-md
  }

  .right {
    @apply md:items-center p-4 shadow-md rounded-md bg-yellow-700
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
}
